.appNav {
    &__wrap {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    &__item {
        display: block;
        box-sizing: border-box;
        color: #fff;
        font-family: $font;
        font-size: 14px;
        line-height: 22px;
        padding: 14px 5px 14px 15px;
        cursor: pointer;
        position: relative;
        flex-grow: 1;
        border: 0;
        background: transparent none;
        border-radius: 0;
        outline: none;
        text-align: left;
        text-decoration: none;

        i {
            display: none;
        }
        &.active, &:hover, &:focus, &:active {
            background-color: rgba(20, 64, 63, 1);
            transition: background 0.3s;
        }
    }

    &__count {
        color: #8a8995;
        font-size: 13px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 375px) {
    .appNav {
        &__item {
            padding: 14px 5px 14px 40px;

            i {
                font-size: 16px;
                display: inline-block;
                vertical-align: baseline;
                position: absolute;
                left: 12px;
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .appNav {
        &__wrap {
            display: block;
        }
        &__item {
            width: 100%;
        }
        &__count {
            float: right;
            display: block;
            margin: 0;
            width: 34px;
            text-align: center;
        }
    }
}

/* -------- ✂ -------- */

.calendarCard {
    border: 1px solid $color_highlight;
    display: block;
    max-width: 120px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.5;

    span {
        display: block;
    }
    &__day {
        border-top: 1px solid $color_highlight;
        border-bottom: 1px solid $color_highlight;
        font-size: 42px;
        line-height: 1.1;
    }
    &__month {
        text-transform: uppercase;
    }
}

/* -------- ✂ -------- */

.filters {
    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    li {
        border-top: 1px solid $color_highlight;
        border-right: 1px solid $color_highlight;
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-grow: 1;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;

        &:first-child {
            border-left: 1px solid $color_highlight;
        }
        &:hover, &.active {
            background-color: $color_highlight;
        }
    }
}

/* -------- ✂ -------- */

.listItem {
    border-top: 1px solid $color_highlight;
    padding: 15px 0;
    margin: 0;
    // background: rgba(2, 14, 26, 0.5);

    &__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: normal;
        margin: 0 0 10px 0;
        // color: #f4af23;

        a {
            text-decoration: none;
            // color: #f4af23;
        }
    }
    &__tools {
        display: block;
        margin: 0;
        padding: 0;
        opacity: 0.75;
        font-size: 14px;

        li {
            display: inline-block;
            list-style: none;
            margin: 0 10px 0 0;
        }
        li.link {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* -------- ✂ -------- */

.messanger {
    position: fixed;
    bottom: 10px;
    left: 10px;
    box-sizing: border-box;
    max-width: 300px;

    .msg {
        margin: 10px 0 0 0;
        background: #e29b00;
        padding: 10px;
        color: #000;
    }
}

/* -------- ✂ -------- */

.pageHeader {
    padding: 15px 0;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 32px;
        line-height: 40px;
        font-weight: normal;
    }
}

/* -------- ✂ -------- */

.todayArticle {
    border-top: 1px solid $color_highlight;
    padding: 20px 0;

    &__title {
        margin: 0 0 10px 0;
        font-size: 24px;
    }
    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 600px) {
    .todayArticle {
        &__title {
            font-size: 32px;
        }
        p {
            font-size: 18px;
        }
    }
}